### ASSIGNMENT 1

In [1]:
#Q1.Create one variable containing following type of data:
#(i)string
#(ii)list
#(iii)float
#(iv)tuple

In [1]:
#string
a = "pwskills"

In [3]:
type(a)

str

In [4]:
#list
l = [1,24,23,"akshay",35.35,245.7,3+5j]

In [5]:
type(l)

list

In [6]:
#float
f = 35.325

In [7]:
type(f)

float

In [2]:
#tuple
t = (23,213,243,24.34,44.24,"pwskills","akshay",5+45j)

In [3]:
type(t)

tuple

In [8]:
#Q2.Given are some following variables containing data:

#(i)var1 = ‘ ‘

#(ii)var2 = ‘[ DS , ML , Python]’

#(iii)var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

#(iv)var4 = 1.

#What will be the data type of the above given variable.

In [9]:
var1 = ""

In [10]:
type(var1)

str

In [11]:
var2 = "[DS , ML , Python]"

In [12]:
type(var2)

str

In [13]:
var3 = ["DS", "ML" , 'Python']

In [14]:
type(var3)

list

In [15]:
var4 = 1

In [16]:
type(var4)

int

In [17]:
#Q3.Explain the use of the following operators using an example:

#(i)/

#(ii)% 

#(iii)//

#(iv)**

In [18]:
###1.)"/" operator is simple used as a 'DIVIDE OPERATOR'
12/5

2.4

In [19]:
###2.) "%" is defined as 'REMINDER OPERATOR'
15%6

3

In [20]:
###3.)"//" also used for dividing but returns only as integer not floating number
13//4

3

In [22]:
###4.)"**" is used as "power operator"
5**3

125

In [23]:
#Q4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

In [24]:
l1 = [12,42,25,35,35,"pwskills","data science",34.34,True,3+4j]
for i in l1:
    print(i)
    print(type(i))

12
<class 'int'>
42
<class 'int'>
25
<class 'int'>
35
<class 'int'>
35
<class 'int'>
pwskills
<class 'str'>
data science
<class 'str'>
34.34
<class 'float'>
True
<class 'bool'>
(3+4j)
<class 'complex'>

In [25]:
#Q5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

# sorry not able to solve question 5 please provide a solution

In [1]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

In [7]:
l1 = [12,24,355,35,353,567,67,4364,645,657,7,4245,809834,6436,577,345,234,657,687,357,865,12,43,67,99]
for i in l1:
    l2 = []
    if i%3 == 0:
        l2.append(i)
        print(l2)
    else:
        print("not divisible by 3")

[12]
[24]
not divisible by 3
not divisible by 3
not divisible by 3
[567]
not divisible by 3
not divisible by 3
[645]
[657]
not divisible by 3
[4245]
not divisible by 3
not divisible by 3
not divisible by 3
[345]
[234]
[657]
[687]
[357]
not divisible by 3
[12]
not divisible by 3
not divisible by 3
[99]

In [8]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

In [9]:
#mutable data types are the data types in which the modification of index is possible
#EG :- LIST
l3 = [234,324,34,456,546,"pwskills","av"]

In [10]:
l3[4]

546

In [11]:
l3[4] = 999

In [12]:
l3[4]

999

In [13]:
l3

[234, 324, 34, 456, 999, 'pwskills', 'av']

In [14]:
#IMmutable data types are the data types in which the modification of index is NOT possible
#EG :- STRING,TUPLES
s = "pwskills"

In [15]:
s

'pwskills'

In [16]:
s[3]

'k'

In [17]:
s[3] = a

TypeError: 'str' object does not support item assignment

In [18]:
###thankyou pwskills