### ASSIGNMENT 2

In [1]:
#Q1.How do you comment code in Python? What are the different types of comments?

Ans:THERE ARE VARIOUR TYPES/METHOD TO COMMENT IN PYTHON 
1) SINGLE LINE COMMENT USING "#"
2) MULTY LINE COMMENT USING TRIPLE QUOTES("""""")
3) DOCSTRING WHILE WRITTING FUNCTION

In [2]:
#Q2.What are variables in Python? How do you declare and assign values to variables?

"VARIBLES ARE USED TO ASSIGN ANY VALUES OR DATA IN PYTHON"
FOR EX: a = 10 
IN THE ABOVE EXAMPLE "a" IS A VARIABLE, WHICH IS ASSIGNED A VALUE "10" IN THIS CASE

In [3]:
#Q3.How do you convert one data type to another in Python?

CHANGING ONE DATA TYPE TO ANOTHER IS DEFINED AS "TYPECASTING"
EXAMPLE BELOW

In [4]:
a = 10

In [5]:
type(a)

int

In [6]:
str(a)

'10'

In [8]:
type('10')

str

In [ ]:
#Q4.How do you write and execute a Python script from the command line?

NOT ABLE TO ANSWER,PLEASE PROVIDE THE ANSWER

In [ ]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [13]:
my_list = [1,2,3,4,5]

In [14]:
my_list

[1, 2, 3, 4, 5]

In [18]:
sub_list = my_list[1:3:1]

In [19]:
sub_list

[2, 3]

In [1]:
#Q6.What is a complex number in mathematics, and how is it represented in Python?

COMPLEX NUMBER : WHICH CONSIST OF TWO PARTS 
1)REAL
2)IMAGNARY
USUALLY REPRESENTED IN MATHS AS "X + Yi" 
EX: '4+6i'
IN PYTHON COMPLEX NUMBERS ARE REPRESENTED AS BELOW

In [2]:
c = 45+56j

In [3]:
type(c)

complex

In [4]:
#Q7.What is the correct way to declare a variable named age and assign the value 25 to it?

In [5]:
#correct way ro declare and assign value to a variable
age = 25

In [6]:
age

25

In [7]:
type(age)

int

In [ ]:
#Q8.Declare a variable named price and assign the value 9.99 to it. What data type does this variable
#belong to?

In [8]:
#declare variable and assign value to it
price = 9.99

In [9]:
price

9.99

In [10]:
type(price)

float

In [ ]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the
#value of this variable?

In [11]:
name = "akshay vyas"

In [12]:
name

'akshay vyas'

In [13]:
type(name)

str

In [14]:
#Q10.Given the string "Hello, World!", extract the substring "World".

In [15]:
s = "Hello, World!"

In [16]:
s

'Hello, World!'

In [19]:
s[7:13:1]

'World!'

In [20]:
#Q11.Create a variable named "is_student" and assign it a boolean value indicating whether you are
#currently a student or not.

In [21]:
is_student = "akshay vyas"

In [22]:
"akshay vyas" in is_student

True