In [2]:
#Q1.Create a python program to sort the given list of tuples based on integer value using a
#lambda function. 
#[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [31]:
l = [('Sachin Tendulkar', 34357), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Virat Kohli', 24936)]

In [54]:
s = (lambda x : x.sort , l)

In [55]:
s

(<function __main__.<lambda>(x)>,
 [('Jack Kallis', 25534),
  ('Ricky Ponting', 27483),
  ('Sachin Tendulkar', 34357),
  ('Virat Kohli', 24936)])

UNABLE TO SORT THROUGH NUMBER

In [83]:
#Q2.Write a Python Program to find the squares of all the numbers in the given list of integers using
#lambda and map functions.
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
s = map(lambda x : x**2, a)

In [90]:
list(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [91]:
#Q3.Write a python program to convert the given list of integers into a tuple of strings. Use map and
#lambda functions
#Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [92]:
u = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [93]:
v = map(lambda x : str(x), u)

In [94]:
tuple(v)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [95]:
#Q4.Write a python program using reduce function to compute the product of a list containing numbers
#from 1 to 25.

In [7]:
c = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [8]:
from functools import reduce

In [9]:
s = reduce(lambda a,b : a + b , c)

In [11]:
s

325

In [14]:
#Q5.Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
#filter function.
#[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [20]:
#IF NUMBER IS DIVISIBLE BY BOTH 2 "AND" 3

In [15]:
x = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [17]:
s = filter(lambda a : a%2 == 0 and a%3 == 0, x)

In [19]:
list(s)

[6, 60, 90, 120]

In [21]:
#IF NUMBER IS DIVISIBLE BY BOTH 2 "OR" 3

In [22]:
z = filter(lambda a : a%2 == 0 or a%3 == 0, x)

In [23]:
list(z)

[2, 3, 6, 9, 27, 60, 90, 120, 46]

In [24]:
#Q6.Write a python program to find palindromes in the given list of strings using lambda and filter
#function.
#['python', 'php', 'aba', 'radar', 'level']

In [28]:
v = ['python', 'php', 'aba', 'radar', 'level']

In [32]:
k = filter(lambda y : y[0] == y[-1] and y[1] == y[-2] , v)

In [33]:
list(k)

['php', 'aba', 'radar', 'level']

### THANK YOU