In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
'''
What is a Database?
A database is a structured collection of data that is organized and stored electronically to be managed and accessed efficiently.

 It serves as a repository for information, allowing users to retrieve, store, and update data.   

SQL vs. NoSQL Databases
SQL and NoSQL databases represent two primary approaches to data management.   

SQL (Structured Query Language) Databases

Relational: Data is organized into tables with rows and columns.   
Structured: Follows a predefined schema, defining data types and relationships.   
ACID compliant: Guarantees Atomicity, Consistency, Isolation, and Durability.   
Examples: MySQL, PostgreSQL, Oracle Database, SQL Server   
NoSQL (Not Only SQL) Databases

Non-relational: Data is stored in various models like key-value, document, graph, or wide-column.   
Flexible: No strict schema, allowing for dynamic data structures.   
Scalable: Can handle large volumes of unstructured data.   
Examples: MongoDB, Cassandra, Redis, Neo4j   

'''

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
'''
DDL (Data Definition Language)
DDL or Data Definition Language is a subset of SQL used for defining the structure of a database. It deals with descriptions of the database schema and is used to create and modify the structure of database objects like tables, indexes, views, etc.

DDL Commands
Here are the four primary DDL commands:

1. CREATE
Used to create database objects like tables, indexes, views, and stored procedures.

Example:

CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(255),
    ContactName VARCHAR(255),
    Address VARCHAR(255),
    City VARCHAR(255),
    PostalCode VARCHAR(255),
    Country VARCHAR(255)
);

2. DROP
Used to delete existing database objects.

Example:

DROP TABLE Customers;

3. ALTER
Used to modify the structure of existing database objects.

Example:

ALTER TABLE Customers
ADD Email VARCHAR(255);

4. TRUNCATE
Used to remove all data from a table but retains the table structure.

Example:

TRUNCATE TABLE Customers;

'''

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
'''
DML (Data Manipulation Language)
DML or Data Manipulation Language is a subset of SQL used to manipulate data within a database. 
It deals with the modification of data inside the database tables.

DML Commands

1. INSERT:-

Used to add new rows (records) to a table.

INSERT INTO Customers (CustomerID, CustomerName, ContactName)
VALUES (1, 'Alfreds Futterkiste', 'Maria Anders');

2. UPDATE:-

Used to modify existing data within a table.

UPDATE Customers
SET ContactName = 'Peter Svensson'
WHERE CustomerID = 4;

3. DELETE:-

Used to remove rows from a table.

DELETE FROM Customers
WHERE CustomerID = 5;

These DML commands are fundamental for managing and updating data within a database.'''

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.

In [ ]:
'''
DQL (Data Query Language)
DQL or Data Query Language is a subset of SQL used to retrieve data from a database. 
It is used to query the data and present it in a desired format.

SELECT Statement
The SELECT statement is the primary command used in DQL. It is used to retrieve data from one or more tables.

Syntax:

SELECT column1, column2, ...
FROM table_name
WHERE condition;

SELECT: Specifies the columns to retrieve.
FROM: Specifies the table to retrieve data from.
WHERE: Specifies a condition to filter the data.

Example:

SELECT CustomerName, ContactName
FROM Customers
WHERE Country = 'Mexico';
'''

In [ ]:
#Q5. Explain Primary Key and Foreign Key.

In [ ]:
'''
Primary Key
A primary key is a column or combination of columns in a table that uniquely identifies each row in that table.
It ensures data integrity by preventing duplicate records.   
There can be only one primary key per table.   
The value in a primary key column cannot be null. 

Example:
In a Customers table, CustomerID could be the primary key as it uniquely identifies each customer.

Foreign Key
A foreign key is a column or set of columns in one table that refers to the primary key of another table.   
It establishes a link between two tables.   
It helps maintain data consistency and integrity.   
A foreign key can be null, but if not null, the value must match a value in the primary key of the referenced table.

Example:
In an Orders table, CustomerID (which references the CustomerID in the Customers table) would be a foreign key.
This links an order to a specific customer.'''

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
'''import mysql.connector

def connect_to_mysql(host, user, password, database):
  """Connects to MySQL database and returns a connection object."""
  try:
    connection = mysql.connector.connect(
      host=host,
      user=user,
      password=password,
      database=database
    )
    print("Connected to MySQL database successfully")
    return connection
  except mysql.connector.Error as error:
    print(f"Error connecting to MySQL database: {error}")
    return None

def execute_query(connection, query):
  """Executes a SQL query and returns the results."""
  try:
    cursor = connection.cursor()
    cursor.execute(query)
    results = cursor.fetchall()
    return results
  except mysql.connector.Error as error:
    print(f"Error executing query: {error}")
    return None

if __name__ == "__main__":
  # Replace with your MySQL credentials
  host = "your_host"
  user = "your_user"
  password = "your_password"
  database = "your_database"

  connection = connect_to_mysql(host, user, password, database)
  if connection:
    query = "SELECT * FROM your_table"  # Replace with your query
    results = execute_query(connection, query)
    if results:
      for row in results:
        print(row)
    connection.close()'''

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
'''
Order of Execution in SQL Queries
The order in which SQL clauses are processed might seem counterintuitive, as it differs from the order in which they appear in the query.

The correct order of execution is:

FROM: This clause specifies the tables involved in the query. Joins are also processed at this stage.
WHERE: This clause filters rows based on specified conditions.
GROUP BY: This clause groups rows based on one or more columns.
HAVING: This clause filters groups based on specified conditions.
SELECT: This clause specifies the columns to be retrieved.
DISTINCT: This clause removes duplicate rows from the result set.
ORDER BY: This clause sorts the result set based on specified columns.
LIMIT/OFFSET: This clause limits the number of rows returned.'''